.grid-container{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40rem;
    display: grid;
    /*grid-template-columns: 33.33%, 33.33%, 33.33%;
    grid-template-rows: 50%, 50%;*/
    grid-template-areas: "f f f f" 
                         "s s t t"
                         "s s t t"
                         "s s t t"
                         "s s t t";
    gap: 2rem;
}

.info_general {
    background-color: rgb(218, 247, 166, 0.5);
    border-radius: 10px;
    grid-area: f;
    font-size:1.2em;
    padding: 10px;
    border: rgba(0, 0, 0, 0.466);
    border-style: solid;
}

.info_categorias {
    font-size: 0.9em;
    padding-top: 20px;
    padding-left: 40px;
    line-height: 150%;
    display: flex;
    justify-content: space-evenly;
}

.datos_personales {
    background-color: rgb(255, 195, 0, 0.25);
    border-radius: 10px;
    grid-area: s;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.466);
    border-style: solid;
    font-size: 1.2em;
    padding: 10px;
}

.formulario {
    font-size: 0.9em;
    padding-left: 40px;
}

.mapa {
    border-radius: 10px;
    grid-area: t;
}

.frame {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.466);
    border-style: solid;
}