main{
  background-color: var(--color2);
  padding: 1.5em;
  overflow: hidden;
}
.imagen_index{
    width: 100%;
    display:flex;
    justify-content: space-around;
    z-index: 0;
  }
  
  .imagen_index > .img_index_1 {
    width: 50%;
    height: 20em;
    transition:  all 1s 3s  ease;
  }
  
  .imagen_index .img_index_1 :hover{
    border: 2px solid black;
  }
  
  .imagen_index .img_index_1 img{
    width: 100%;
    height: 100%;
  }
  
  .nosotros {
    padding-left: 20px;
    padding-bottom: 10px;
    width: 100%;
    /* border: black; */
    border: var(--color5);
    border-style: solid;
    border-radius: 20px;
    font-size: 1.3em;
  }
  
  .nosotros > .nosotros_titulo{
    font-size: 1.5em;
    color:var(--color5);
    text-decoration: underline;
  }
  
  .desglosado{
    width: 100%;
    display:flex;
    justify-content: space-around;
  }
  
  .desglosado > .categorias2 {
    padding-top: 10px;
    width: 30%;
    padding-left: 20px;
    border: var(--color4);
    border-style: solid;
    border-radius: 20px;
    font-size: 1.3em;
  }
  
  .categorias_titulo {
    font-size: 1.4em;
    color:var(--color4);
    text-decoration: underline;
  }
  
  .profesionales {
    width: 100%;
    color:var(--color3);
    text-decoration: underline;
    text-align: center;
    font-size: 2em;
  }
  
  .profesionales_sub {
    width: 100%;
    display:flex;
    justify-content: space-around;
  }
  
  .profesionales_img{
    width: 25%;
    height: 20em;
    /* border: #16fb0661; */
    border: var(--color3);
    border-style: groove;
    border-radius: 20%;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: var(--color3)
  }
  
  .profesionales_img img{
    width: 90%;
    height: 100%;
    padding-bottom: 40px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .profesionales_sub :hover{
    transform: scale(1.1,1.1);
    }

  .imagen_prof_subtitulo {
    padding-top: 20px;
  }
  @media screen and (max-width: 640px) {
    .imagen_index{
     
     overflow: hidden; 
     animation: none;
    }
  }