main{
  background-color: var(--color2);
  padding: 1.5em;
}
/* celulares*/
@media screen and (max-width: 640px) {
  .grid-container {
    display: grid;
    width: 100%;
    row-gap: 5px;
    grid-template-columns: repeat(
      12,
      1fr
    ); /* divide en 12 columnas y les da igual tamaño*/
    grid-template-rows: repeat(11, 1fr);
  }
  .grid-aviso {
    grid-column: 1/-1;
    justify-self: end;
  }
  .grid-aviso > .aviso {
    display: inline-block;
    color: var(--color4);
    background-color: var(--color3);
    border: 2px dotted black;
    padding: 0.5em;
  }

  /* grid Animales */

  .grid-animales {
    box-shadow: 0px 3px 5px -4px #17540c;
    align-self: start;
    justify-self: center;
  }
  .grid-animales img {
    width: 45%;
    height: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 120px;
    background-color: var(--color2);
  }

  .perro {
    grid-column: 1/4;
  }
  .gato {
    grid-column: 4/7;
  }
  .roedor {
    grid-column: 7/10;
  }
  .ave {
    grid-column: 10/13;
  }

  /*grid productos*/
  .titulo-productos {
    grid-column: 1/13;
    grid-row: 3/4;
    padding-left: 1em;
    justify-self: center;
    text-decoration: underline;
  }
  .grid-productos ol {
    padding-top: 0.5em;
  }
  .grid-productos {
    padding-top: 1em;
    
    
  }
  .accesorios {
    grid-column: 1/7;
    grid-row: 4/6;
  }
  .alimentos {
    grid-column: 7/13;
    grid-row: 4/6;
  }
  .juguetes {
    grid-column: 1/7;
    grid-row: 6/7;
  
  }
  .cuchas {
    grid-column: 7/13;
    grid-row: 6/7;
    
  }
  .btn-productos {
    grid-column: 4/10;
    grid-row: 7/8;
    padding-left: 1em;
    /* justify-self: center; */
  }
  .btn-productos button{
    background-image: linear-gradient(90deg, var(--color1), rgb(29, 186, 136));
    border-radius: 0.3em;
    width: 70%;
    height: 40%;
    color: var(--color5);
    font-size: 1em;
    border: none;
  }
  
  .grid-especialidades {
    grid-column: 1/13;
    grid-row: 8/9;
    margin-left: 1em;
    border-top: 1px solid black;
  }
  .grid-especialistas {
    grid-column: 1/13;
    grid-row: 9/10;
    align-self: stretch;
    border-bottom: 1px solid black;
  }

  .grid-belleza {
    grid-column: 1/13;
    grid-row: 10/12;
  }
  .img-belleza {
    width: 100%;
    position: relative;
  }
  .belleza-texto {
    font-size: 1em;
    /* font-weight: bold; */
    position: absolute;
    width: 100%;
    left: 0.5em;
    bottom: 2em;
    color: var(--color2);
  }
  .belleza-btn{
    position: absolute;
    right: 0;
    top: .5em;
  }
  .belleza-btn button{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
  }

  .img-belleza img {
    width: 100%;
    filter: drop-shadow(16px 16px 20px var(--color3)) brightness(0.5);
    border-radius: 25% 10%;
  }
  /* clases codo a codo flexbox*/
  /* tengo los 3 divs con las imagenes dentro de este contenedor  */
  .imagenes-especialistas {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  /* los div con las imagenes se accede con el selector de hijos
     toman un tamaño del 30% del contenedor */
  .imagenes-especialistas > .img-esp {
    padding-top: 10px;
    width: 30%;
    transition: all 1s 3s ease;
  }
  /* los elementos imagenes abarcan el 100% del div anterior */
  .imagenes-especialistas .img-esp img {
    width: 100%;
    height: 100%;
  }
  .imagenes-especialistas .img-esp :hover {
    border: 2px solid black;
    transform: scale(1.2, 1.2);
  }
  .especialistas {
    width: 50%;
  }
}
/*celulares landscape*/
@media screen and (min-width: 640px) and (max-width: 850px) {
  .grid-container {
    display: grid;
    width: 100%;
    margin: 20px auto;
    row-gap: 5px;

    grid-template-columns: repeat(
      12,
      1fr
    ); /* divide en 12 columnas y les da igual tamaño*/
    grid-template-rows: repeat(14, 1fr);
    
  }
  .grid-aviso {
    grid-column: 1/-1;
    justify-self: end;
  }
  .grid-aviso > .aviso {
    display: inline-block;
    color: var(--color4);
    background-color: var(--color3);
    border: 2px dotted black;
    padding: 0.5em;
  }

  /* grid Animales */

  .grid-animales {
    box-shadow: 0px 3px 5px -4px #17540c;
    align-self: start;
    justify-self: center;
  }
  .grid-animales img {
    width: 45%;
    height: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 120px;
    background-color: var(--color2);
  }

  .perro {
    grid-column: 1/4;
  }
  .gato {
    grid-column: 4/7;
  }
  .roedor {
    grid-column: 7/10;
  }
  .ave {
    grid-column: 10/13;
  }

  /*grid productos*/
  .grid-productos {
    padding-top: 1em;
    border-bottom: 1px solid black;
  }
  .titulo-productos {
    grid-column: 1/13;
    grid-row: 3/4;
    padding-left: 1em;
    /* justify-self: center; */
  }
  .btn-productos {
    grid-column: 7/13;
    grid-row: 6/7;
    padding-left: 1em;
    /* justify-self: center; */
  }
  .btn-productos button{
    background-image: linear-gradient(90deg, var(--color1), rgb(29, 186, 136));
    border-radius: 0.3em;
    width: 70%;
    height: 50%;
    color: var(--color5);
    font-size: 1em;
    border: none;
  }
  
  .grid-productos ol {
    padding-top: 0.5em;
  }
 
  .accesorios {
    grid-column: 1/4;
    grid-row: 4/7;
  }
  .alimentos {
    grid-column: 4/7;
    grid-row: 4/7;
  }
  .juguetes {
    grid-column: 7/10;
    grid-row: 4/6;
    border-bottom: none;
  }
  .cuchas {
    grid-column: 10/13;
    grid-row: 4/6;
    border-bottom: none;
  }
  /*grid especialidades*/

  .grid-especialidades {
    grid-column: 1/7;
    grid-row: 7/10;
    margin-left: 1em;
  }
  .grid-especialistas {
    grid-column: 7/13;
    grid-row: 7/10;
    align-self: center;
  }
  .grid-belleza {
    grid-column: 3/11;
    grid-row: 10/15;
  }
  .img-belleza {
    width: 100%;
    position: relative;
    z-index: 0;
  }

  .belleza-texto {
    position: absolute;
    font-size: 0.9em;
    width: 100%;
    bottom: 3em;
    left: 1em;
    color: var(--color2);
    /* text-shadow: 2px 2px black;  */
  }
  .belleza-btn{
    position: absolute;
    right: 1em;
    top: .5em;
  }
  .belleza-btn button{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
  }

  .img-belleza img {
    width: 100%;
    filter: drop-shadow(16px 16px 20px var(--color3)) brightness(0.5);
    border-radius: 25% 10%;
  }

  /* fin grid*/
  /* hecho con flex*/
  .especialidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* tengo los 3 divs con las imagenes dentro de este contenedor  */
  .imagenes-especialistas {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  /* los div con las imagenes se accede con el selector de hijos
         toman un tamaño del 30% del contenedor */
  .imagenes-especialistas > .img-esp {
    padding-top: 10px;
    width: 30%;
    transition: all 1s 3s ease;
  }
  /* los elementos imagenes abarcan el 100% del div anterior */
  .imagenes-especialistas .img-esp img {
    width: 100%;
    height: 100%;
    border-radius: 10% / 50%;
  }
  .imagenes-especialistas .img-esp :hover {
    border: 2px solid black;
    transform: scale(1.2, 1.2);
  }
  .especialistas {
    width: 50%;
  }
}
@media screen and (min-width: 850px) {
  
  .grid-container {
    display: grid;
    width: 100%;
    padding: 1em;
    row-gap: 5px;

    grid-template-columns:repeat( 12, 1fr ); 
    grid-template-rows: repeat(16, 1fr);
  }
  .grid-aviso {
    grid-column: 1/-1;
    justify-self: end;
  }
  .grid-aviso > .aviso {
    display: inline-block;
    color: var(--color4);
    background-color: var(--color3);
    border: 2px dotted black;
    padding: 0.5em;
  
  }

  /* grid Animales */

  .grid-animales {
    box-shadow: 0px 3px 5px -4px #17540c;
    align-self: start;
    justify-self: center;
  }
  .grid-animales img {
    width: 45%;
    height: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 120px;
    background-color: var(--color2);
  }

  .perro {
    grid-column: 1/4;
  }
  .gato {
    grid-column: 4/7;
  }
  .roedor {
    grid-column: 7/10;
  }
  .ave {
    grid-column: 10/13;
  }

  /*grid productos*/
  .grid-productos {
    padding-top: 1em;
    border-bottom: 1px solid black;
  }
  .grid-productos ol {
    padding-top: 0.5em;
  }
  
  .titulo-productos {
    grid-column: 1/4;
    grid-row: 3/6;
    padding-left: 1em;
   border-bottom: none;
    /* justify-self: center; */
  }
  .btn-productos {
    grid-column: 1/4;
    grid-row: 6/7;
    padding-left: 1em;
    border-bottom: 1px solid black;
    /* justify-self: center; */
  }
  .btn-productos button{
    background-image: linear-gradient(90deg, var(--color1), rgb(29, 186, 136));
    border-radius: 0.3em;
    width: 70%;
    height: 50%;
    color: var(--color5);
    font-size: 1em;
    border: none;
  }
  
  .accesorios {
    grid-column: 4/7;
    grid-row: 3/7;
  }
  .alimentos {
    grid-column: 7/10;
    grid-row: 3/7;
  }
  .juguetes {
    grid-column: 10/13;
    grid-row: 3/5;
    border-bottom: none;
  }
  .cuchas {
    grid-column: 10/13;
    grid-row: 5/7;
  }
  /*grid especialidades*/

  .grid-especialidades {
    grid-column: 1/7;
    grid-row: 7/11;
    margin-left: 1em;
  }
  .grid-especialistas {
    grid-column: 7/13;
    grid-row: 7/11;
    align-self: center;
  }
  .grid-belleza {
    grid-column: 4/10;
    grid-row: 11/16;
  }
  .img-belleza {
    width: 100%;
    position: relative;
    z-index: 0;
  }

  .belleza-texto {
    position: absolute;
    font-weight: bold;
    width: 50%;
    left: 2em;
    bottom: 2em;
    color: var(--color2);
    /* text-shadow: 2px 2px black;  */
  }
  .belleza-btn{
    position: absolute;
    right: 4em;
    bottom: 2em;
  }
  .belleza-btn button{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
  }

  .img-belleza img {
    width: 100%;
    border-radius: 25% 10%;
    filter: drop-shadow(16px 16px 20px var(--color3)) brightness(0.5);
  }

  /* fin grid*/
  /* hecho con flex*/
  .especialidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  /* tengo los 3 divs con las imagenes dentro de este contenedor  */
  .imagenes-especialistas {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  /* los div con las imagenes se accede con el selector de hijos
     toman un tamaño del 30% del contenedor */
  .imagenes-especialistas > .img-esp {
    padding-top: 10px;
    width: 30%;
    transition: all 1s 3s ease;
  }
  /* los elementos imagenes abarcan el 100% del div anterior */
  .imagenes-especialistas .img-esp img {
    width: 100%;
    height: 100%;
    border-radius: 10% / 50%;
  }
  .imagenes-especialistas .img-esp :hover {
    transform: scale(1.2, 1.2);
  }
  .especialistas {
    width: 50%;
  }
}